@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/fonts/Unbounded.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root{
	font-size: 10px;
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 1.6rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    background: #050505;
    color: #fff;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

a, button, input, textarea, select{
	transition: .2s linear;
	font-size: 1.6rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

a{
	text-decoration: none;
	color: #000;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	margin: 0;
	font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	appearance: none;
}

@media (any-hover: hover) {
    button{
        cursor: pointer;
    }
}