.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.2rem 0rem 3.6rem 0;
}

.appBg{
    width: 100%;
    height: 100%;
    position: relative;
    position: fixed;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.appBg:before{
    z-index: 999;
    position: fixed;
    content: '';
    height: 300%;
    width: 300%;
    top: -100%;
    left: -50%;
    pointer-events: none;
    user-select: none;
    background-image: url('/img/noise.png');
    opacity: 0.029;
    animation: noise 8s steps(10) infinite;
}

@keyframes noise {
  0%, 100% { transform:translate(0, 0); }
  10% { transform:translate(-5%, -10%); }
  20% { transform:translate(-15%, 5%); }
  30% { transform:translate(7%, -25%); }
  40% { transform:translate(-5%, 25%); }
  50% { transform:translate(-15%, 10%); }
  60% { transform:translate(15%, 0%); }
  70% { transform:translate(0%, 15%); }
  80% { transform:translate(3%, 35%); }
  90% { transform:translate(-10%, 10%); }
}

.appBg img{
    object-fit: cover;
}

.header {
    width: 100%;
    padding: 1.2rem 0;
}

.headerInner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.headerLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
    font-weight: 500;
}

@media (max-width: 480px) {
    .headerLogo{
        font-size: 1.4rem;
    }
}

.headerButton {
    padding: 0.8rem 2.2rem;
    border-radius: 8px;
    background: none;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.8rem;
    color: #fff;
}

@media (max-width: 768px) {
    .headerButton{
        font-size: 1.6rem;
    }
}
@media (max-width: 480px) {
    .headerButton{
        font-size: 1.4rem;
        padding: 0.5rem 1.4rem;
    }
}

.headerButton span {
    width: 21px;
    height: 21px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.headerButton span svg {
    color: #000;
    width: 12px;
    flex-shrink: 0;
}

@media (any-hover: hover) {
    .headerButton:hover {
        color: #fff;
        background: #000;
        border: 1px solid #fff;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
        box-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 50px #fff, 0 0 100px #fff;
    }
}

.appTable {
    width: 100%;
    margin-top: 3.4rem;
}

.appTableInner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.appTableInner::-webkit-scrollbar{
    height: 5px;
}

.appTableInner::-webkit-scrollbar-thumb{
    background: #605B5B;
}

.appTableInner::-webkit-scrollbar-track{
    background: #262626;
}

@media (max-width: 768px) {
    .appTableInner{
        overflow-x: auto;
    }
}

.appTableHeader, .appTableContent {
    width: 100%;
    padding: 1.6rem;
    border-radius: 15px;
    background: rgba(19, 19, 19, 0.83);
    border: 1px solid #303030;
}

@media (max-width: 768px) {
    .appTableHeader, .appTableContent{
        flex-shrink: 0;
        width: 800px;
    }
}

.appTableHeader{
    display: flex;
    align-items: center;
}

.appTableHeaderItem{
    width: calc(100% / 6);
    text-align: center;
    color: #D9D9D9;
    font-size: 1.8rem;
    font-weight: 500;
}

.appTableItem{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
}

.appTableItemValue{
    width: calc(100% / 6);
}

.appTableContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 370px;
    overflow-y: auto;
}

.appDashboard{
    width: 100%;
    margin-top: 1rem;
}

.appDashboardInner{
    width: 100%;
    display: flex;
    gap: 30px;
}

@media (max-width: 1200px) {
    .appDashboardInner{
        flex-wrap: wrap;
    }
}

.appGetmore{
    width: 100%;
    max-width: 260px;
    overflow: hidden;
    border: 1px solid #fff;
    flex-shrink: 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 2rem;
    position: relative;
}

@media (max-width: 768px) {
    .appGetmore{
        max-width: 100%;
    }
}

.appGetmore img{
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}

.appDashboardWrap{
    width: 100%;
    max-width: 683px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

@media (max-width: 1400px) {
    .appDashboardWrap{
        max-width: 600px;
    }
}
@media (max-width: 1200px) {
    .appDashboardWrap{
        max-width: 100%;
    }
}

.appDashboardInfoWrap{
    width: 100%;
    position: relative;
    border-radius: 15px;
    border: 1px solid #2D2D2D;
    
}

.appDashboardInfoWrap:before, .appDashboardInfoWrap:after{
    content: "";
    display: block;
    height: 100%;
    width: 41px;
    pointer-events: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #131313, rgba(19, 19, 19, 0));
    border-radius: 15px 0 0 15px;
}

.appDashboardInfoWrap:after{
    left: auto;
    right: 0;
    background: linear-gradient(to left, #131313, rgba(19, 19, 19, 0));
    border-radius: 0 15px 15px 0;
}

.appDashboardInfo{
    width: 100%;
    padding: 1.2rem;
    background: #131313;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.appDashboardInfoBlock{
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    flex-shrink: 0;
    padding: 0rem .6rem;
    animation: spin 20s linear infinite;
}

@keyframes spin{
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-100% - 30px));
    }
}

.appDashboardInfoItem{
    padding: 0.6rem 1.1rem;
    border-radius: 12px;
    background: #0F0F0F;
    display: flex;
    align-items: center;
    gap: 7px;
    color: #fff;
    font-size: 1.4rem;
    flex-shrink: 0;
}

.appDashboardInfoItem div{
    width: 31px;
    height: 28px;
    border-radius: 6px;
    background: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.appDashboardInfoItem div svg{
    max-width: 75%;
    max-height: 75%;
}

.appDashboardInfoItem span{
    color: #6DCCBC;
}

.appDashboardInfoContent{
    width: 100%;
    display: flex;
    gap: 12px;
}

@media (max-width: 768px) {
    .appDashboardInfoContent{
        flex-wrap: wrap;
    }
}

.appReward, .appCollectedInner, .appLeaderboardInner{
    width: 100%;
    max-width: 280px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #3C3C3C;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 1.4rem 4rem 1.4rem 2.5rem;
    background: rgba(19, 19, 19, .3);
    backdrop-filter: blur(2px);
}

@media (max-width: 768px) {
    .appReward{
        max-width: 100%;
    }
}

.appCollectedInner{
    width: auto;
    max-width: unset;
    padding: 0.6rem 1rem .6rem 0;
    flex-grow: 1;
}

.appCollected, .appLeaderboard{
    gap: 9px;
    padding: 1.2rem 2.2rem;
    max-width: unset;
    width: auto;
    flex-grow: 1;
    max-height: 220px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.appCollected{
    width: 100%;
}

@media (max-width: 480px) {
    .appCollected, .appLeaderboard{
        padding: 1.2rem 2rem;
    }
}

.appLeaderboard{
    max-height: 320px;
}

.appLeaderboardInner{
    width: 100%;
    max-width: 380px;
    flex-shrink: 0;
    border-radius: 15px;
    background: rgba(19, 19, 19, .3);
    border: 1px solid #2D2D2D;
    padding: .6rem .6rem .6rem 0;
    display: flex;
    gap: 10px;
    backdrop-filter: blur(2px);
}

@media (max-width: 1400px) {
    .appLeaderboardInner{
        max-width: 260px;
    }
}
@media (max-width: 1200px) {
    .appLeaderboardInner{
        max-width: 688px;
    }
}
@media (max-width: 998px) {
    .appLeaderboardInner{
        max-width: 458px;
    }
}
@media (max-width: 768px) {
    .appLeaderboardInner{
        max-width: 100%;
    }
}

.appLeaderboard{
    width: 100%;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.appCollected::-webkit-scrollbar, .appLeaderboard::-webkit-scrollbar{
    width: 5px;
}

.appCollected::-webkit-scrollbar-thumb, .appLeaderboard::-webkit-scrollbar-thumb{
    background: #605B5B;
    border-radius: 50px;
}

.appCollected::-webkit-scrollbar-track, .appLeaderboard::-webkit-scrollbar-track{
    background: #262626;
    border-radius: 50px;
}

.appRewardTitle{
    font-size: 1.8rem;
    color: #fff;
}

.appRewardItem{
    width: 100%;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    overflow: hidden;
    position: relative;
    border: 1px solid #93C0C0;
    border-radius: 15px;
}

.appRewardItem:before{
    content: "";
    display: block;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    background: #15AE90;
    filter: blur(70px);
    position: absolute;
    right: -65px;
    bottom: -75px;
    pointer-events: none;
}

.appRewardItemText{
    text-align: center;
    font-size: 1.4rem;
    color: #15F2CD;
    line-height: 2;
    position: relative;
    z-index: 2;
}

.appRewardItemButton{
    padding: 0.8rem 1.9rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 12px;
    background: #090909;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'OpenSans', sans-serif;
    position: relative;
    z-index: 2;
}

.appRewardItemButton svg{
    width: 14px;
    color: #fff;
    flex-shrink: 0;
    transition: .2s linear;
}

.appRewardItemButton:hover{
    background: #fff;
    color: #000;
}

.appRewardItemButton:hover svg{
    color: #000;
}

.appRewardItemIcon{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #262626;
    position: relative;
    z-index: 2;
}

.appRewardItemIcon svg{
    width: 24px;
    flex-shrink: 0;
    color: #C1CCF7;
}

.appCollectedTable, .appLeaderTable{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.appCollectedTableItem, .appLeaderTableItem{
    width: 100%;
    padding: 0.9rem 1.5rem 0.9rem 1.1rem;
    border-radius: 15px;
    border: 1px solid #242424;
    background: linear-gradient(to bottom, #080808, #181818);
    display: flex;
    align-items: center;
}

.appCollectedTableItemDate{
    width: 40%;
    text-align: right;
    font-size: 1.4rem;
    font-family: 'OpenSans', sans-serif;
    color: #D0D0D0;
}

.appCollectedTableItemTime{
    width: 30%;
    margin-left: 1.6rem;
    padding-left: 1.6rem;
    position: relative;
    font-size: 1.4rem;
    color: #D0D0D0;
    font-family: 'OpenSans', sans-serif;
}

.appCollectedTableItemTime:before{
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #656565;
    position: absolute;
    top: 0;
    left: 0;
}

.appCollectedTableItemCount{
    width: 30%;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fff;
}

.appCollectedTableItemCount span, .appLeaderTableItemWallet span{
    width: 31px;
    height: 28px;
    flex-shrink: 0;
    background: #262626;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appCollectedTableItemCount span svg, .appLeaderTableItemWallet span svg{
    width: 20px;
    flex-shrink: 0;
    opacity: 0.29;
}

.appLeaderTableItemWallet{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fff;
}

.appLeaderTableItemCount{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
}

.appLeaderTableItemCount svg{
    width: 20px;
    flex-shrink: 0;
}

.appGetmoreIcon{
    width: 62px;
    height: 62px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, .34);
    background: rgba(0, 0, 0, 0.06);
}

.appGetmoreTitle{
    text-align: center;
    font-family: 'Unbounded', sans-serif;
    font-size: 2.9rem;
    font-weight: 200;
    line-height: 1.36;
    color: #fff;
    letter-spacing: 0.05em;
}

.appGetmoreText{
    color: #fff;
    text-align: center;
    font-weight: 200;
    line-height: 1.31;
    letter-spacing: 0.05em;
}

.appGetmoreButton{
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.8rem 2.8rem;
    background: #090909;
    border: 1px solid #252525;
    font-size: 1.8rem;
    font-family: 'OpenSans', sans-serif;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #fff;
}

@media (max-width: 768px) {
    .appGetmoreButton{
        margin-top: 1.2rem;
    }
}

.appGetmoreButton:hover {
    color: #fff;
    background: #000;
    border: 1px solid #fff;
    box-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 50px #fff, 0 0 100px #fff;
}

.appGetmoreButton span{
    width: 21px;
    height: 21px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appGetmoreButton span svg{
    color: #000;
    width: 12px;
    flex-shrink: 0;
}

.appTableItemId{
    color: #D0D0D0;
    font-family: 'OpenSans';
    text-align: center;
}

.appTableItemUser, .appTableItemColor{
    display: flex;
    justify-content: flex-start;
    padding-left: 6.5rem;
}

.appTableItemColor{
    gap: 8px;
    color: #D0D0D0;
    font-family: 'OpenSans', sans-serif;
}

@media (max-width: 1400px) {
    .appTableItemColor{
        padding-left: 5rem;
    }
}
@media (max-width: 1200px) {
    .appTableItemColor{
        padding-left: 3.3rem;
    }
}
@media (max-width: 998px) {
    .appTableItemColor{
        padding-left: 1rem;
    }
}
@media (max-width: 768px) {
    .appTableItemColor{
        padding-left: 2rem;
    }
}

.appTableItemUserName{
    padding: 0.3rem 0.7rem;
    background: #262626;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #D0D0D0;
    font-family: 'OpenSans', sans-serif;
}

.appTableItemUserName svg{
    width: 14px;
    flex-shrink: 0;
    color: #D0D0D0;
}

.appTableItemColorCircle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 1px solid #BECDD2;
}

.appTableItemColorCircle:before{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -3px;
    background: #fff;
    filter: blur(5px);
}

.appTableItemColorCircle:after{
    content: "";
    display: subgrid;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    filter: blur(4px);
    position: absolute;
    left: -6px;
    bottom: -18px;
}

.appTableItemColorCircle.blue{
    background: #30809D;
}

.appTableItemColorCircle.blue:after{
    background: #1493E7;
}

.appTableItemColorCircle.green{
    background: #2E6D3B;
}

.appTableItemColorCircle.green:after{
    background: #23DC5E;
}

.appTableItemColorCircle.orange{
    background: #71592C;
}

.appTableItemColorCircle.orange:after{
    background: #DC9E23;
}

.appTableItemColorCircle.purple{
    background: #6A2EB3;
}

.appTableItemColorCircle.purple:after{
    background: #A723DC;
}

.appTableItemValueDouble{
    width: 1000%;
    max-width: 45px;
    font-size: 1.4rem;
    font-family: 'OpenSans', sans-serif;
    color: #fff;
    padding: 0.1rem 0.4rem;
    text-align: center;
    border-radius: 5px;
    background: #141414;
    overflow: hidden;
    border: 1px solid #323232;
    position: relative;
}

.appTableItemValueDouble:before{
    content: "";
    display: block;
    width: 100%;
    height: 19px;
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    filter: blur(10px);
    pointer-events: none;
}

.appTableItemValueDouble.negative:before{
    background: #FF4848;
}

.appTableItemValueDouble.positive:before{
    background: #36FF8A;
}

.appTableItemPay{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #D0D0D0;
    font-family: 'OpenSans', sans-serif;
}

.appTableItemPay svg{
    width: 20px;
    flex-shrink: 0;
    color: #fff;
}

.upgradeModal, .connectModal, .extensionModal{
    width: 100%;
    padding: 3.7rem 4.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #fff;
    background: linear-gradient(to bottom, #181818, #000);
    position: relative;
}

.extensionModal{
    max-width: 385px;
    background: linear-gradient(to bottom, #080808, #181818);
    padding: 0;
}

.connectModal{
    padding: 3.6rem 3.2rem;
    background: #000;
}

@media (max-width: 480px) {
    .upgradeModal{
        padding: 3rem 2.5rem;
    }

    .connectModal{
        padding: 3rem 2rem;
    }
}

.upgradeModalClose{
    padding: 0;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8px;
    right: 12px;
    background: none;
    outline: none;
    color: #fff;
    border: none;
    z-index: 5;
}

.upgradeModalText{
    text-align: center;
    font-size: 1.8rem;
    color: #C6C6C6;
}

.upgradeModalTitle{
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
}

.upgradeModalTitle span{
    color: #6DCCBC;
}

.upgradeModalItems{
    width: 100%;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.upgradeModalItem{
    width: calc(100% / 4 - 24px / 4);
    background: #000;
    border: 1px solid #646464;
    padding: 1.3rem 1.6rem 0.9rem 1.6rem;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 420px) {
    .upgradeModalItem{
        width: calc(100% / 2 - 8px / 2);
    }
}

.upgradeModalItem:before{
    content: "";
    display: block;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
}

.upgradeModalItemValue{
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1rem;
    position: relative;
    z-index: 2;
}

.upgradeModalItemText{
    font-size: 1.4rem;
    text-align: center;
    position: relative;
    z-index: 2;
}

.green .upgradeModalItemText{
    color: #23DC5E;
}

.blue .upgradeModalItemText{
    color: #1493E7;
}

.purple .upgradeModalItemText{
    color: #D05CFF;
}

.orange .upgradeModalItemText{
    color: #FFAD0B;
}

.upgradeModalItemCircleInner{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin: 0.9rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .05);
    backdrop-filter: blur(20px);
}

.upgradeModalItemCircle{
    width: 32px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, .5);
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.upgradeModalItemCircle:before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -4px;
    right: -5px;
    filter: blur(5px);
}

.upgradeModalItemCircle:after{
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    bottom: -29px;
    left: -9px;
    filter: blur(5px);
}

.green .upgradeModalItemCircle:after{
    background: #23DC5E;
}

.upgradeModalItem.green:before{
    background: #23DC5E;
}

.green .upgradeModalItemCircle{
    background: #2E6D3B;
}

.blue .upgradeModalItemCircle:after{
    background: #1493E7;
}

.upgradeModalItem.blue:before{
    background: #1493E7;
}

.blue .upgradeModalItemCircle{
    background: #2DA2CC;
}

.purple .upgradeModalItemCircle:after{
    background: #A723DC;
}

.upgradeModalItem.purple:before{
    background: #A723DC;
}

.purple .upgradeModalItemCircle{
    background: #6A2EB3;
}

.orange .upgradeModalItemCircle:after{
    background: #DC9E23;
}

.upgradeModalItem.orange:before{
    background: #DC9E23;
}

.orange .upgradeModalItemCircle{
    background: #71592C;
}

.upgradeModalHr{
    width: 100%;
    height: 1px;
    background: #2F2F2F;
    margin: 3.4rem 0rem 2.6rem 0;
}

.upgradeBurnItems{
    width: 100%;
    margin-top: 2.1rem;
    display: flex;
    justify-content: center;
    gap: 13px;
}

.upgradeBurnItem{
    width: calc(100% / 2 - 13px / 2);
    background: #000;
    border-radius: 15px;
    padding: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    border: 1px solid #545454;
    position: relative;
    overflow: hidden;
}

.upgradeBurnItem:before{
    content: "";
    display: block;
    width: 90%;
    height: 58px;
    border-radius: 50%;
    position: absolute;
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
    background: #6DCCBC;
    filter: blur(50px);
}

.upgradeBurnItemPoint{
    font-family: 'OpenSans', sans-serif;
    font-weight: 800;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 0.7rem;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, .34);
    background: rgba(0, 0, 0, .59);
    backdrop-filter: blur(20px);
    position: relative;
    z-index: 2;
}

.upgradeBurnItemText{
    text-align: center;
    margin-top: 0.4rem;
    font-size: 1.4rem;
    color: #fff;
    position: relative;
    z-index: 2;
}

.upgradeBurnItemTitle{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 1rem;
    position: relative;
    z-index: 2;
}

.upgradeBurnItemTitle span{
    font-size: 1.4rem;
    font-weight: 600;
    color: #6DCCBC;
}

.upgradeBurnItemButton{
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid rgba(255, 255, 255, .5);
    background: #090909;
    padding: 0.2rem 2.1rem;
    border-radius: 8px;
    color: #fff;
    font-family: 'OpenSans', sans-serif;
    font-size: 1.8rem;
    position: relative;
    z-index: 2;
}

.upgradeBurnItemButton:hover{
    background: #fff;
    color: #000;
}

.upgradeBurnItemButton svg{
    width: 21px;
    flex-shrink: 0;
    color: #EC7F31;
}

.clientIcon{
    width: 55px;
    height: 55px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, .34);
    background: rgba(0, 0, 0, .59);
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.clientTitle{
    margin-top: 0.7rem;
    text-align: center;
    font-size: 2.4rem;
    color: #fff;
}

.clientText{
    text-align: center;
    margin-top: 0.7rem;
    font-size: 1.8rem;
    color: #C6C6C6;
    line-height: 1.16;
    max-width: 383px;
}

@media (max-width: 480px) {
    .clientText{
        font-size: 1.4rem;
    }
}

.clientId, .clientIdBlock{
    width: 100%;
    max-width: 340px;
    margin-top: 3.1rem;
    padding: 0.8rem 1.2rem 0.9rem 1.9rem;
    border-radius: 12px;
    background: rgba(19, 19, 19, 0.83);
    border: 1px solid rgba(255, 255, 255, .4);
    font-family: 'OpenSans', sans-serif;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.clientIdBlock{
    margin-top: 1.5rem;
}

.clientIdCopy{
    background: #101010;
    border-radius: 50px;
    padding: 0.4rem 1.3rem;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid rgba(255, 255, 255, .3);
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-size: 1.8rem;
}

.clientIdCopy svg{
    width: 21px;
    flex-shrink: 0;
    color: #fff;
}

.clientIdCopy:hover, .clientButton:hover{
    opacity: 0.7;
}

.clientButton{
    width: 100%;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1.2rem;
    background: #fff;
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 2.9rem;
    border: none;
    border-radius: 8px;
}

.clientButton svg{
    width: 14px;
    flex-shrink: 0;
}

.connectTitle{
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    width: 100%;
}

.connectText{
    width: 100%;
    color: #C6C6C6;
    margin-top: 0.4rem;
    font-size: 1.8rem;
    font-weight: 500;
}

@media (max-width: 480px) {
    .connectTitle{
        font-size: 2.4rem;
    }

    .connectText{
        font-size: 1.4rem;
    }
}

.connectChoice{
    width: 100%;
    margin-top: 3.6rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.connectChoice:before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #EDEDED;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.connectChoice p{
    padding: 0rem 0.4rem;
    background: #000;
    font-size: 1.8rem;
    font-weight: 500;
    color: #C6C6C6;
    position: relative;
    z-index: 2;
    text-align: center;
    display: inline-block;
}

@media (max-width: 480px) {
    .connectChoice p{
        font-size: 1.4rem;
    }
}

.connectItems{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-top: 2.4rem;
}

.connectButton{
    margin: 2.4rem auto 0 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    padding: 0;
    color: #383838;
    font-size: 1.8rem;
    font-weight: 600;
    border: none;
    outline: none;
}

.connectButton svg{
    width: 24px;
    flex-shrink: 0;
    color: #383838;
    transition: .2s linear;
}

.connectButton:hover, .connectButton:hover svg{
    color: #fff;
}

.connectItem{
    width: 100%;
    outline: none;
    padding: 2.2rem;
    border-radius: 26px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    background: none;
}

.connectItem:hover{
    background: #fff;
}

.connectItem span{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-weight: 600;
    font-size: 2.2rem;
    transition: .2s linear;
}

@media (max-width: 480px) {
    .connectItem span{
        font-size: 1.4rem;
    }
}

.connectItem svg{
    width: 21px;
    flex-shrink: 0;
    color: #fff;
    transition: .2s linear;
}

.connectItem:hover svg{
    color: #000;
}

.connectItem:hover span{
    color: #000;
}

.extensionBgInner{
    width: 100%;
    height: 350px;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
}

.extensionBg{
    object-fit: cover;
    pointer-events: none;
}

.extensionLogo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fff;
    font-size: 3.1rem;
    font-weight: 500;
    text-align: center;
    padding: 6.8rem 2rem 5.1rem 2rem;
    position: relative;
    z-index: 2;
}

.extensionLogin{
    width: 100%;
    padding: 2.6rem 2.1rem;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0 0 15px 15px;
    position: relative;
    z-index: 2;
}

.extensionLoginWrap{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    margin-top: 10rem;
}

.extensionLoginText{
    color: #666;
    text-align: center;
}

.extensionLoginText span{
    color: #fff;
}

.extensionLoginClient{
    background: none;
    border: 1px solid #15F2CD;
    border-radius: 50px;
    padding: 0.7rem 1rem;
    font-family: 'OpenSans', sans-serif;
    color: #15F2CD;
}

.extensionLoginClient:hover{
    color: #000;
    background: #15F2CD;
}

.extensionLoginInputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.extensionLoginButton{
    width: 100%;
    text-align: center;
    padding: 1.1rem;
    background: #080808;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #fff;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.extensionLoginButton svg{
    width: 14px;
    flex-shrink: 0;
    position: relative;
    top: 2px;
}

.extensionLoginButton.disabled{
    background: #4D4D4D;
    pointer-events: none;
}

.extensionLoginButton:hover{
    background: #fff;
    color: #000;
}

.extensionLoginInputInner{
    width: 100%;
    position: relative;
}

.extensionLoginInputInner svg{
    width: 14px;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
    pointer-events: none;
    color: #666;
}

.extensionLoginInput{
    width: 100%;
    /* padding: 1.2rem 5.2rem 1.2rem 2.2rem; */
    padding: 1.2rem 2.2rem;
    background: rgba(19, 19, 19, .83);
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 12px;
    outline: none;
    color: #fff;
    font-family: 'OpenSans', sans-serif;
}

.extensionLoginInput::placeholder{
    color: #666;
}

.clientIdTitle{
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    font-family: 'OpenSans', sans-serif;
}

.clientAttentionBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    margin: 3rem 0;
}

.clientAttentionTitleInner{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.clientAttentionTitleInner span{
    width: 42px;
    height: 42px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2.9rem;
    font-weight: 700;
    background: rgba(19, 19, 19, .59);
    border: 1px solid rgba(255, 255, 255, .34);
}

.clientAttentionTitle{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
}

.clientAttentionText{
    font-weight: 500;
    color: #D0D0D0;
}

.extensionHeader{
    width: 100%;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    background: linear-gradient(to top, rgba(0, 0, 0, .84), rgba(0, 0, 0, 0));
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid #232323;
}

.extensionCount{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 4.3rem 0rem 6.2rem 0;
}

.extensionCountValue{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.extensionCountValue p{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3.1rem;
    font-weight: 700;
    color: #000;
    position: relative;
    overflow: hidden;
}

.extensionCountValue p span{
    position: relative;
    z-index: 2;
}

.extensionCountValue p:before, .extensionCountValue p:after{
    content: "";
    display: block;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: #313131;
    filter: blur(20px);
    top: -9px;
    right: -11px;
    position: absolute;
    pointer-events: none;
}

.extensionCountValue p:after{
    width: 106px;
    height: 106px;
    filter: blur(14px);
    top: auto;
    bottom: -50px;
    right: auto;
    left: -30px;
}

.extensionCountValue.green p{
    background: #2E6D3B;
}

.extensionCountValue.green p:after{
    background: #23DC5E;
}

.extensionCountValue.orange p{
    background: #FFE2A9;
}

.extensionCountValue.orange p:after{
    background: #DC9E23;
}

.extensionCountValue.red p{
    background: #9A4C32;
}

.extensionCountValue.red p:after{
    background: #DC5123;
}

.extensionCountTitle{
    text-align: center;
    color: #fff;
    font-size: 3.1rem;
    font-weight: 500;
}

.extensionDailyWrap{
    width: 100%;
    padding: 0rem 1.5rem 6rem 1.5rem;
}

.extensionDaily{
    width: 100%;
    padding: 2rem 2.6rem 2.5rem 2rem;
    background: linear-gradient(to bottom, #080808, #181818);
    border: 1px solid #242424;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
}

.extensionDailyTitleWrap{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
}

.extensionDailyTitleInner{
    width: 100%;
    max-width: 190px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.extensionDailyTitle{
    color: #fff;
    font-size: 1.8rem;
    font-family: 'OpenSans', sans-serif;
}

.extensionDailyText{
    color: #D0D0D0;
    font-weight: 200;
}

.extensionDailyText span{
    font-weight: 500;
}

.extensionDailyCount{
    width: 62px;
    height: 62px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'OpenSans', sans-serif;
    color: #fff;
    font-size: 2.8rem;
    font-weight: 800;
    border: 1px solid rgba(255, 255, 255, .34);
    background: rgba(0, 0, 0, .59);
}

.extensionDailyItems{
    width: 100%;
    display: flex;
    gap: 10px;
}

.extensionDailyItem{
    width: calc(100% / 5 - 40px / 5);
    height: 4px;
    border-radius: 50px;
    background: #535353;
}

.extensionDailyItem.active{
    background: #fff;
}

.extensionFlashInner{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 17px;
    margin: 5rem 0 3rem 0;
}

.extensionFlashIcon, .extensionInfoIcon{
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, .34);
    background: rgba(0, 0, 0, .59);
    display: flex;
    align-items: center;
    justify-content: center;
}

.extensionFlashIcon svg{
    width: 28px;
    flex-shrink: 0;
    color: #fff;
}

.extensionInfoWindow{
    width: 100%;
    padding: 2.7rem 4rem 2.7rem 2.3rem;
    border-radius: 15px;
    border: 1px solid #242424;
    background: linear-gradient(to bottom, #080808, #181818);
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 17px;
}

.extensionInfoTextBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.extensionInfoTitle{
    color: #D0D0D0;
    font-weight: 500;
}

.extensionInfoText{
    font-weight: 200;
    color: #D0D0D0;
}

.extensionInfoClaim{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 1.2rem;
    border-radius: 8px;
    background: #fff;
    color: #000;
    border: none;
    outline: none;
    font-size: 1.8rem;
    font-weight: 500;
}

.extensionInfoClaim svg{
    width: 22px;
    flex-shrink: 0;
    color: #000;
}

.extensionInfoChoice{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1.6rem 0;
}

.extensionInfoChoice:before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #666;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.extensionInfoChoice span{
    padding: 0rem 1.3rem;
    color: #666;
    font-size: 1.8rem;
    font-weight: 200;
    background: #181818;
    position: relative;
    z-index: 2;
}

.extensionInfoX2 span{
    width: 100%;
    background: #090909;
    border: 1px solid #fff;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    border-radius: 8px;
    position: relative;
    position: relative;
    top: -4px; 
    right: -4px;
    transition: .2s linear;
}

.extensionInfoX2:hover span{
    top: -2px;
    right: -2px;
}

.extensionInfoX2{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    background: #090909;
    border-radius: 8px;
    padding: 0;
}

.extensionInfoX2 span svg{
    width: 22px;
    flex-shrink: 0;
}

.extensionDoubleBack{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
    background: none;
    padding: 0;
    border: none;
    outline: none;
    margin-top: 6rem;
}

.extensionDoubleBack svg{
    width: 14px;
    flex-shrink: 0;
    color: #fff;
}

.extensionGame{
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 15px;
}

.extensionGame p{
    flex-shrink: 0;
    color: #D0D0D0;
    font-weight: 200;
}

.extensionGameChoice{
    width: 100%;
    padding: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, .59);
    border: 1px solid transparent;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.extensionGameChoice:before{
    content: "";
    display: block;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    filter: blur(60px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
}

.extensionGameChoice:first-child{
    border: 1px solid rgba(220, 158, 35, .34);
}

.extensionGameChoice:first-child:before{
    background: #DC9E23;
}

.extensionGameChoice:last-child{
    border: 1px solid rgba(109, 204, 188, .34);
}

.extensionGameChoice:last-child:before{
    background: #6DCCBC;
}

.extensionGameChoiceQuestion{
    width: 53px;
    height: 53px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .05);
    border: 1px solid rgba(255, 255, 255, .34);
    position: relative;
    z-index: 2;
}

.extensionGameChoiceQuestion svg{
    width: 23px;
    flex-shrink: 0;
}

.extensionGameChoice:first-child .extensionGameChoiceQuestion svg{
    color: #DC9E23;
}

.extensionGameChoice:last-child .extensionGameChoiceQuestion svg{
    color: #6DCCBC;
}

.extensionGameChoiceText{
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 0.4rem;
    position: relative;
    z-index: 2;
}