.modal{
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    background: rgba(0, 0, 0, .57);
}

.modalInner{
    width: 100%;
    max-width: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 3.5rem);
    margin: 1.75rem auto;
}

@media (max-width: 768px) {
    .modalInner{
        max-width: 460px;
    }
}